{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header-about.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/article-about.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer-about.css' %}">
    <link rel="stylesheet" href="{% static 'styles/dropdown-button.css' %}">
    <link rel="stylesheet" href="https://use.typekit.net/qpj2ebe.css">
    <title>Sobre</title>
</head>
<body class="about-body">
    <main>
        <header class="header" id="mynav">

            <nav class="header__navbar" style="z-index: 99;">                
                
                <a href="{% url 'index' %}"><img src="{% static 'assets/img/small-logo.png' %}" class="header__navbar-image" alt="xxx" id="loguinho"></a>
                <div class="header__navbar-content" id="navbarContent">
                    
                    <div class="header__navbar-content__links" id="teste">                        
                        <a href="{% url 'sobre' %}">SOBRE</a>
                        <a href="{% url 'equipa' %}">EQUIPA</a>
                        <a href="{% url 'visual' %}">VISUAL</a>
                        <!-- <a href="textos.html">TEXTOS</a> -->
                        <div class="dropdown">
                            <button class="dropbtn">TEXTOS</button>
                            <div class="dropdown-content">
                                <a href="{% url 'publicacoes' %}">PUBLICAÇÕES</a>
                                <a href="{% url 'etnograficas' %}">NOTAS ETNOGRÁFICAS</a>
                            </div>
                        </div>
                        <a href="{% url 'agenda' %}">AGENDA</a>
                        <a href="{% url 'fazparte' %}" id="faz-parte">FAZ PARTE!</a>
                    </div>
                    <div  class="header__navbar-content__translate" id="translate">                        
                        <button id="portuguese" class="enable">PT</button>                     
                        <span>|</span>
                        <button id="english">EN</button>
                    </div>
                </div>
            </nav>
            
            <div class="header__navbar__principal">
                <!-- <img src="blog/img/Logo_Horizontal_PretoFosco.png" id="main-image" class="header__navbar__principal-image" alt="trademark">                         -->
                <div class="header__icon-hamburger" id="hamburger">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>    
        </header>        
    </main>  
      
    <section>
        <div class="azul">
            <h1>SOBRE&nbsp;</h1>
            <h1>SOBRE&nbsp;</h1>
            <h1>SOBRE&nbsp;</h1>
            <h1>SOBRE&nbsp;</h1>
            <h1>SOBRE&nbsp;</h1>
            <h1>SOBRE&nbsp;</h1>
            <h1>SOBRE&nbsp;</h1>
            <h1>SOBRE&nbsp;</h1>
            <h1>SOBRE&nbsp;</h1>
                         
            </div>
        <article>              
                <p>Occaepremquas maios vollor asperorrum autaquas rectem con posam volorru ptassi con elignatesent  exeriorrorum re cuptat laciis acerferum de sant voluptas et ma elignatesent  exeriorrorum re cuptat laciis acerferum de sant voluptas et ma. Occaepremquas maios vollor asperorrum autaquas rectem con posam volorru ptassi con elignatesent  exeriorrorum re  laciis acerferum de sant voluptas et ma.</p>
                <p>Ehent ut ut in plitaec aturere pedita della auda iur accuptat fugitiu mquosae ctenimin periatur, sum int que recto et fugit pa quiassim quis molorissi aut ratem doluptaspe venita con consequo eatis ipidunt faciende necatemolent omnis acerem santo moluptatur ra consedi quis alique porro ipiet volupti que nonecus ditibusci dolorpo.</p>                                                     
                <p>Ehent ut ut in plitaec aturere pedita della auda iur accuptat fugitiu mquosae ctenimin periatur, sum int que recto et fugit pa quiassim quis molorissi aut ratem doluptaspe venita con consequo eatis ipidunt faciende necatemolent omnis acerem santo moluptatur ra consedi quis alique porro ipiet volupti que nonecus ditibusci dolorpo.</p>
                <p>Ehent ut ut in plitaec aturere pedita della auda iur accuptat fugitiu mquosae ctenimin periatur, sum int que recto et fugit pa quiassim quis molorissi aut ratem doluptaspe venita con consequo eatis ipidunt faciende necatemolent omnis acerem santo moluptatur ra consedi quis alique porro ipiet volupti que nonecus ditibusci dolorpo.<br><span></span></p>                    
                
        </article>
    </section>

    <footer class="footer" id="footer" style="z-index: 1;">        
        <div>
            Logos Redes Sociais.
        </div>        
        <div>
            <input type="text" placeholder="pesquisar...">    
            <ul>
                <li>SOBRE</li>
                <li>VISUAL</li>
                <li>TEXTOS</li>
                <li>AGENDA</li>
                <li>FAZ PARTE!</li>
          </ul>
        </div>        
    </footer>
        
</body>
</html>