{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header-about.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'styles/article-visual.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer-about.css' %}">
    <link rel="stylesheet" href="{% static 'styles/dropdown-button.css' %}">
    <link rel="stylesheet" href="https://use.typekit.net/qpj2ebe.css">

    <title>Visual</title>
</head>
<body class="about-body">
    <main>
        <header class="header" id="mynav">

            <nav class="header__navbar" style="z-index: 99;">                
                
                <a href="{% url 'index' %}"><img src="{% static 'assets/img/small-logo.png' %}" class="header__navbar-image" alt="xxx" id="loguinho"></a>
                <div class="header__navbar-content" id="navbarContent">
                    
                    <div class="header__navbar-content__links" id="teste">                        
                        <a href="{% url 'sobre' %}">SOBRE</a>
                        <a href="{% url 'equipa' %}">EQUIPA</a>
                        <a href="{% url 'visual' %}">VISUAL</a>
                        <!-- <a href="textos.html">TEXTOS</a> -->
                        <div class="dropdown">
                            <button class="dropbtn">TEXTOS</button>
                            <div class="dropdown-content">
                                <a href="{% url 'publicacoes' %}">PUBLICAÇÕES</a>
                                <a href="{% url 'etnograficas' %}">NOTAS ETNOGRÁFICAS</a>
                            </div>
                        </div>
                        <a href="{% url 'agenda' %}">AGENDA</a>
                        <a href="fazparte.html" id="faz-parte">FAZ PARTE!</a>
                    </div>
                    <div  class="header__navbar-content__translate" id="translate">                        
                        <button id="portuguese" class="enable">PT</button>                     
                        <span>|</span>
                        <button id="english">EN</button>
                    </div>
                </div>
            </nav>
            
            <div class="header__navbar__principal">
                <!-- <img src="blog/img/Logo_Horizontal_PretoFosco.png" id="main-image" class="header__navbar__principal-image" alt="trademark">                         -->
                <div class="header__icon-hamburger" id="hamburger">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>    
        </header>        
    </main>    
    <section>
        <div class="azul">
            <h1>VISUAL&nbsp;</h1>
            <h1>VISUAL&nbsp;</h1>
            <h1>VISUAL&nbsp;</h1>
            <h1>VISUAL&nbsp;</h1>
            <h1>VISUAL&nbsp;</h1>
            <h1>VISUAL&nbsp;</h1>
            <h1>VISUAL&nbsp;</h1>
            <h1>VISUAL&nbsp;</h1>
            <h1>VISUAL&nbsp;</h1>                         
        </div>
        <article>              
        <div class="visual-card">
            <a href="visual_detalhes.html"><img src="{% static 'assets/img/visual_imagem_mauro.png' %}" alt=""></a>
            <p>Bairro da Torre, dez/23</p>
            <p>Ehent ut ut in plitaec aturere pedita della auda iur accuptat aturere pedita della auda iur ....</p>
            <p>[+]</p>
        </div>
        <div class="visual-card">
            <a href="visual_detalhes.html"><img src="{% static 'assets/img/visual_video.png' %}" alt=""></a>
            <p>Doc Zé da Couve, nov/23</p>
            <p>Ehent ut ut in plitaec aturere pedita della auda iur accuptat aturere pedita della auda iur ....</p>
            <p>[+]</p>
        </div>
        <div class="visual-card">
            <img src="{% static 'assets/img/visual_video.png' %}" alt="">
            <p>Doc Xipirito, out/23</p>
            <p>Ehent ut ut in plitaec aturere pedita della auda iur accuptat aturere pedita della auda iur ....</p>
            <p>[+]</p>
        </div>
        <div class="visual-card">
            <img src="{% static 'assets/img/visual_imagem_mocho.png' %}" alt="">
            <p>Quinta do Mocho, set/23</p>
            <p>Ehent ut ut in plitaec aturere pedita della auda iur accuptat aturere pedita della auda iur ....</p>
            <p>[+]</p>
        </div>
        </article>
    </section>

    <footer class="footer" id="footer" style="z-index: 1;">        
        <div>
            Logos Redes Sociais.
        </div>        
        <div>
            <input type="text" placeholder="pesquisar...">    
            <ul>
                <li>SOBRE</li>
                <li>VISUAL</li>
                <li>TEXTOS</li>
                <li>AGENDA</li>
                <li>FAZ PARTE!</li>
          </ul>
        </div>        
    </footer>
        
</body>
</html>