.footer {
    background-color: var(--black-color);
    /* background-color: transparent; */
    border-top: 1px solid black;
    color: var(--gray-color);
    font-family: var(--font-title-anisette);
    font-weight: 700;
    font-style: normal;
    font-size: 1.1rem;
    padding-top: 37px;
    padding-left: 30px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    gap: 20px;
  }



  .footer input {
    width: 25vw;
    background-color: black;
    color: var(--gray-color);
    font-family: var(--font-text-adelle);
    font-weight: 300;
    font-style: normal;
    border-style: none;
    background-image: url('../img/lupa.png');
    background-position: right;
    background-repeat: no-repeat;
    padding: 10px 10px 15px 10px;
    margin-right: 50px;
    border-right: 10px solid black;
    display: flex;
    align-self: flex-end;
  }

  .logos_e_redes_sociais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .redes_sociais {
    display: flex;
    align-items: center;
    padding-right: 40px;
  }

  .logos_suporte {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .footer ::placeholder {
    color: var(--gray-color);
  }




  @media screen and (max-width:768px){

    .footer input {
      width: 50vw;
    }

  }


  @media screen and (max-width:375px){
    .footer div:nth-child(1){
      color:green;
      visibility: hidden;
      /* display: none; */
    }

  }