.header {
    position: fixed;
    top: 0;
    z-index: 1;    
}

.header__navbar {
    background-color: white;
    border-bottom: 1px solid var(--black-color);
    
}

.header__navbar-content {
    background-color: white;
    
}

.header__navbar-content__links {
    background-color: white;
    
}



